body {
  background-color: #444444;
    color: #ddd;
  font-family: Ariel, Helvetica, sans-serif;
  margin: 10% 20%;
}

h1 {
  text-align: center
}

.exp-header {
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0,0,0, 0.1)
}
