body {
  background-color: grey;
  color: white
    font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
}

.exp-header: {
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}








h1 {
  color: black;
  font-size: 48px;
  font-family: Arial;
  }
